*{
	font-size: 16px;
	padding: 10px;
	font-weight: 500;
	border-radius: 'app.rcPath()';
	font-family: monospace;
}
.QPushButton{
	background-color: rgb(29, 50, 165);
	color: white;
	&:hover{
		background-color: rgb(7, 138, 53);
	}
	background-image: 'app.rcPath()';
}
// .console-view{
// 	min-width: 800;
// 	background-color: red;
// 	{
// 		margin: 3px 10px;
// 		border-radius: 10%;
// 		background-color: rgb(31, 57, 159);
// 		color: white;
// 		&:hover{
// 			background-color: rgb(6, 124, 53);
// 		}
// 	}
// }
// .title-bar{
// 	background-color: rgb(15, 32, 98);
// 	color: white;
// }


